@font-face {
  font-family: "IntelMonoOne";
  src: url("fonts/IntelOneMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IntelMonoOne";
  src: url("fonts/IntelOneMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  justify-self: center;
  background-color: #f0f0f0;
  main {
    box-sizing: border-box;
    width: 75vw;
    padding: 3vw;
    margin: 0;
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 0 3rem #00000030;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "IntelMonoOne", monospace;
}

a {
  all: unset;
  cursor: pointer;
}
